:root {
  --primary: #171717;
  --secondary: #da0037;
  --tertary: #ededed;
  --input: #444444;
  --buttonsRed: #ff4c29;
  --butonsGreen: #1e5128;
}

/*
:root {
  --primary: #2c061f;
  --secondary: #d89216;
  --tertary: #e1d89f;
  --input: #374045;
}
*/

nav {
  background-color: var(--secondary);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  position: fixed;
  top: 0;
}

.container {
  width: 80% !important;
}

.btn {
  background-color: var(--secondary) !important;
  margin-bottom: 10px;
  border-radius: 3rem;
}

.btn.red {
  background-color: var(--input) !important;
}

.btn.green {
  background-color: var(--secondary) !important;
}

body {
  background-color: var(--input);
}

main {
  background-color: var(--primary);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

/* label focus color */
input[type="number"]:focus + label {
  color: var(--secondary) !important;
}
/* label underline focus color */
input[type="number"]:focus {
  border-bottom: 1px solid var(--secondary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
  color: var(--secondary);
}

input[type="number"] {
  border-bottom: 1px solid var(--tertary) !important;
  box-shadow: 0 1px 0 0 var(--tertary) !important;
  color: var(--tertary);
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.no-spin {
  -moz-appearance: textfield !important;
}

h1 {
  color: var(--secondary);
}

video {
  padding: 0px !important;
}

p {
  color: var(--tertary);
}

#file {
  width: 100%;
  height: 7rem;
}

filediv {
  border: 4px dashed var(--secondary);
  background-color: var(--input) !important;
  border-radius: 3rem;
}
filediv p {
  color: #ffffff;
  font-family: Arial;
}
filediv input {
  outline: none;
  opacity: 0;
}

.loader {
  position: absolute;
  left: 47%;
  top: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
